<%- include('menu.ejs') %>
<div class="container">
  <h1>REGISTER PAGE</h1>
  <form action="/registerAction" method="post">
    <input name="name" type="text" placeholder="Username" /><br />
    <input name="email" type="email" placeholder="Email" /><br />
    <input name="password" type="password" placeholder="Password" /><br />
    <button type="submit">Submit</button>
  </form>
</div>
